<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender" interface="popover" placeholder="Select gender">
        <ion-select-option *ngFor="let i of ['male', 'female']" value="{{i}}">{{i}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-select [(ngModel)]="time" interface="popover" placeholder="Select hour(s)">
        <ion-select-option *ngFor="let i of [1,2,3,4,5]" value="{{i}}">{{i}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Bottles</ion-label>
      <ion-select [(ngModel)]="bottles" interface="popover" placeholder="Select number of bottle(s)">
        <ion-select-option *ngFor="let i of [1,2,3,4,5]" value="{{i}}">{{i}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Promilles</ion-label>
      <ion-input type="number" name="promilles" readonly value="{{promilles | number : '1.2-2'}}"></ion-input>
    </ion-item>
    <div padding>
      <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
    </div>
  </ion-list>
</ion-content>
